[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
pyjwt = "==2.1.0"
django-cors-headers = "*"
django-cors-middleware = "*"

[dev-packages]

[requires]
python_version = "3.9"
